<?xml version="1.0"?>
<config>
    <modules>
        <Ma2_WidgetProductList>
            <version>1.0.0</version>
        </Ma2_WidgetProductList>
    </modules>
    <global>
        <helpers>
            <WidgetProductList>
                <class>Ma2_WidgetProductList_Helper</class>
            </WidgetProductList>
        </helpers>
        <blocks>
             <WidgetProductList>
                <class>Ma2_WidgetProductList_Block</class>
             </WidgetProductList>
        </blocks>
        <models>
             <WidgetProductList>
                <class>Ma2_WidgetProductList_Model</class>
             </WidgetProductList>
        </models>
        <resources>
            <WidgetProductList_setup>
                <setup>
                    <module>Ma2_WidgetProductList</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </WidgetProductList_setup>
            <WidgetProductList_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </WidgetProductList_write>
            <WidgetProductList_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </WidgetProductList_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ma2_WidgetProductList before="Mage_Adminhtml">Ma2_WidgetProductList_Adminhtml</Ma2_WidgetProductList>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
