<?xml version="1.0"?>
<config>
    <modules>
        <Ma2_WidgetTabs>
            <version>1.0.0</version>
        </Ma2_WidgetTabs>
    </modules>
	<frontend>
        <routers>
            <WidgetTabs>
                <use>standard</use>
                <args>
                    <module>Ma2_WidgetTabs</module>
                    <frontName>WidgetTabs</frontName>
                </args>
            </WidgetTabs>
        </routers>
        <layout>
            <updates>
                <WidgetTabs>
                    <file>ma2widgettabs.xml</file>
                </WidgetTabs>
            </updates>
        </layout>
    </frontend>
    <admin>
         <routers>
            <WidgetTabs>
                <use>admin</use>
                <args>
                    <module>Ma2_WidgetTabs</module>
                    <frontName>WidgetTabs</frontName>
                </args>
            </WidgetTabs>
        </routers>
    </admin>
    <adminhtml>        
        <layout>
            <updates>
                <WidgetTabs>
                    <file>ma2widgettabs.xml</file>
                </WidgetTabs>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <WidgetTabs>
                <class>Ma2_WidgetTabs_Helper</class>
            </WidgetTabs>
        </helpers>
        <blocks>
             <WidgetTabs>
                <class>Ma2_WidgetTabs_Block</class>
             </WidgetTabs>
        </blocks>
        <models>
             <WidgetTabs>
                <class>Ma2_WidgetTabs_Model</class>
             </WidgetTabs>
        </models>
        <resources>
            <WidgetTabs_setup>
                <setup>
                    <module>Ma2_WidgetTabs</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </WidgetTabs_setup>
            <WidgetTabs_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </WidgetTabs_write>
            <WidgetTabs_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </WidgetTabs_read>
        </resources>
    </global>
</config>
